/* WhyUs.module.css */

.section {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(220, 220, 220, 0.8) 100%
  );
  padding-top: 3rem; /* Adjusted padding */
  padding-bottom: 3rem; /* Adjusted padding */
}

.title {
  background: linear-gradient(
    90deg,
    rgba(250, 204, 21, 1) 0%,
    rgba(255, 193, 7, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem; /* Adjusted font size */
}

.header {
  font-weight: 700; /* Heavier font weight */
  color: #333; /* Darker color for readability */
}

.pseudo_partial_border {
  position: relative;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.4;

  text-align: justify;
  border: none;
  text-align: center;
}

.pseudo_partial_border::before,
.pseudo_partial_border::after {
  position: absolute;
  width: 160px;
  height: 120px;
  content: "";
}

.pseudo_partial_border::before {
  left: 0;
  top: 0;
  border-left: 7px solid #eab308;
  border-top: 7px solid #eab308;
}

.pseudo_partial_border::after {
  right: 0;
  bottom: 0;
  border-right: 7px solid #eab308;
  border-bottom: 7px solid #eab308;
}

/* Media Query for Small Screens */
@media (max-width: 768px) {
  .section {
    padding-top: 3rem; /* Reduced padding */
    padding-bottom: 3rem; /* Reduced padding */
  }

  .pseudo_partial_border {
    padding-inline: 25px; /* Reduced padding */
    padding-block: 25px; /* Reduced padding */
  }

  .title {
    font-size: 2rem; /* Adjusted font size for small screens */
  }
}
