.sidebar {
    width: 250px;
  }
  
  .bg-navy {
    background-color: #001f3f;
  }
  
  .text-navy {
    color: #001f3f;
  }
  
  .text-yellow {
    color: #FFDC00;
  }
  
  .hover\:text-yellow:hover {
    color: #FFDC00;
  }
  
  .hover\:bg-yellow:hover {
    background-color: #FFDC00;
  }
  